BEARER=TOBEGENERATED
BASEURL=https://YOUR_WORKSPACE_ONE_ACCESS_TENANT_URL/SAAS/jersey/manager/api/scim
CLIENTID=ENTER_CLIENTID_FROM_ACCESS
CLIENTSECRET=ENTER_CLIENTSECRET_FROM_ACCESS
DOMAIN=YOUR_DOMAIN_NAME
OAUTHURL=https://YOUR_WORKSPACE_ONE_ACCESS_TENANT_URL/SAAS/auth/oauthtoken
ACCESSURL=https://YOUR_WORKSPACE_ONE_ACCESS_TENANT_URL