
<h1 style="padding-left: 70px;">Project Rollcall</h1>
<div style="padding-left: 70px;">
            <p>This is an interface to allow SCIM provisioning for Users and Groups between Azure Active Directory and Workspace ONE Access. Once Users and Groups are created in Access, you can then use the Airwatch Provisioning Application to provision these in Workspace ONE UEM to complete the full synchronisation if needed.</p>
            <br>
            <div><b>Project Rollcall consists of two Components</b><br><br>
            <ul>
                <li><b>Access Proxy</b> which is a Node.JS and Express application that listens on your desired port for SCIM API requests/actions from Azure Active Directory and (your) configured Custom Enterprise Application with Provisioning Enabled.</li>
                <li><b>Admin UI</b> which is this configuration and administrative interface. It also is an interface for additional Workspace ONE Access Tools required to complete Provisioning.</li>
            </ul>
          </div>
          <div>

            <h3>SCIM Provisioning Overview</h3>
            <br>
            <img  class="images" src="../assets/flow.png" width="50%"/>


          </div>




