  <header class="header-6">
    <div class="branding">
        <a href="/" class="nav-link">
            <clr-icon shape="helix" class="is-inverse"></clr-icon>
            <span class="title">Project Rollcall</span>
        </a>
    </div>
		<div class="header-nav">
      <a href="" class=" nav-link nav-text">Home</a>

      <a class="nav-link nav-text" [skipLocationChange]='false' [routerLink]="[ 'config' ]">Config</a>
      <a class="nav-link nav-text" [skipLocationChange]='false' [routerLink]="[ 'tools' ]">Tools</a>

    </div>

  </header>
